@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #7f56d9;
  --secondary-color: "";
  --tertiary-color: "";

  --white-color: #ffffff;
  --black-color: #000000;
  --orange-color: #f2994a;
  --success-bg: #ecfdf3;

  --grey-50: #f9fafb;
  --grey-200: #eaecf0;
  --grey-500: #667085;
  --grey-700: #344054;
  --grey-900: #101828;
}
